nav .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;

    li{
        margin: 10px;
        padding: 10px;
        background-color: rgb(220, 200, 245);
        list-style-type: none;

        a{
            text-decoration: none;
            color: rgb(45, 9, 92);
        }
    }
}

#About{


    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;

        .text{
            max-width: 50%;
            min-width:100px;
            margin: 10px;
        }

        img{

            max-width: 50%;
            min-width: 100px;
            height: auto;
            margin: 10px;
        } 
    }
} 

