$color-primary-dark: rgb(6, 60, 70);
$color-primary-dark-opaque: rgb(6, 60, 70, 0.8);
$color-primary-light: rgb(175, 239, 250);
$color-white: rgb(220, 247, 252);

$corners: 5px;

body{
    background-image: url(https://images.unsplash.com/photo-1562575214-da9fcf59b907?ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: $color-white;
}

li{
    list-style-type: none;
}


nav .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;

    li{
        margin: 10px;
        padding: 10px;
        background-color: $color-primary-light;
        border-radius: $corners;

        a{
            text-decoration: none;
            padding: 5px;
            color: $color-primary-dark;

            &:hover{
                background-color: $color-primary-dark;
                color: $color-primary-light;
                border-radius: $corners;
            }
        }
    }
}

#Home{


}

#About{

    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .text{
            max-width: 500px;
            min-width:100px;
            padding: 20px;
            background-color: $color-primary-dark-opaque;
            border-style: solid;
            border-color: $color-primary-light;
            border-radius: $corners;
        }

        img{
            height: auto;
            width: 40vw

        } 
    }
} 

#Projects{

    .flex-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .flex-item{
            max-height: 40vh;
            max-width: 40vw;
            flex-grow: 1;
            overflow: hidden;
            margin: 5vh;
           
            img{
                height: auto;
                max-width: 100%;
                object-fit: cover;
                vertical-align: bottom;
                z-index: 1;
            }
        }
    }

    

    li:last-child {
        flex-grow: 10;
    }
}

#Contact{
    background-color: $color-primary-dark-opaque;

}

